.formik-demo {
  margin: 16px;
}

.row {
  display: flex;
  margin-bottom: 8px;
}

.row > div {
  margin-right: 16px;
  height: 39px;
}

.row > div > label {
  display: inline-block;
  width: 140px;
}

.error {
  color: red;
}

.state {
  font-family: monospace;
  background-color: #676565;
  line-height: 24px;
  color: white;
  padding: 16px;
  margin-bottom: 16px;
  overflow-wrap: break-word;
  font-size: 14px;
}